.Button {
  border: 0;
  background: var(--color-primary);
  height: 5rem;
  border-radius: 10rem;
  min-width: 12rem;
  padding: 0 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
