.CheckBoxDiv {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  cursor: default;
  color: #000000cc;
}
.CheckBoxDiv img {
  padding: 0.4rem;
}
.CheckBoxDiv img:hover {
  opacity: 0.8;
}
