body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-weight: 400;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-white: #fff;
  --color-primary: #008c4c;
  --color-dark: #3a584f;
}
.Highlight {
  color: var(--color-primary);
}
